@import './common.scss';

body,
html {
  margin: 0;
}

.container-header {
  color: #000;
  background-color: #fff;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  &__title {
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    padding: 8px 16px;
  }
  &__button {
    font-size: 24px;

    color: #000;
    padding: 8px 16px;
    &:hover {
      background: #ccc;
    }
  }
}

.container-wrapper-photo {
  max-width: 1600px;
  display: flex;
  flex-direction: row;
  &__block-photo {
    width: 25%;
    display: flex;
    filter: grayscale(50%);
    flex-direction: column;
  }
  img {
    width: 100%;
    cursor: pointer;
  }
}

.container-numbers {
  padding: 32px 0px;
  &__block-number {
    display: flex;
    justify-content: center;
    .numbers {
      text-align: center;
      font-size: 15px;
      font-family: 'Raleway', sans-serif;
      padding: 8px 16px;

      &:hover {
        color: #fff;
        background: #000;
      }
    }
    .one {
      font-size: 15px;
      padding: 8px 16px;
      font-family: 'Raleway', sans-serif;
      color: #fff;
      background-color: #000;
      &:hover {
        color: #000;
        background: #ccc;
      }
    }
  }
}

.container-about {
  color: #f1f1f1;
  background: #616161;
  padding: 32px 16px;
  span {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    margin: 10px 0px !important;
    display: flex;
    justify-content: center;
  }
  img {
    padding: 32px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
