body,
html {
  margin: 0;
}

.container-header {
  width: 100%;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  z-index: 999;
  color: #000;
  background-color: #fff;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
.container-header__title {
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  padding: 8px 16px;
}
.container-header__button {
  font-size: 24px;
  color: #000;
  padding: 8px 16px;
}
.container-header__button:hover {
  background: #ccc;
}

.container-wrapper-photo {
  margin-top: 81px;
  max-width: 1600px;
  display: flex;
  flex-direction: row;
}
.container-wrapper-photo__block-photo {
  width: 25%;
  display: flex;
  filter: grayscale(50%);
  flex-direction: column;
}
.container-wrapper-photo img {
  width: 100%;
  cursor: pointer;
}

.container-numbers {
  padding: 32px 0px;
}
.container-numbers__block-number {
  display: flex;
  justify-content: center;
}
.container-numbers__block-number .numbers {
  text-align: center;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  padding: 8px 16px;
}
.container-numbers__block-number .numbers:hover {
  color: #fff;
  background: #000;
}
.container-numbers__block-number .one {
  font-size: 15px;
  padding: 8px 16px;
  font-family: "Raleway", sans-serif;
  color: #fff;
  background-color: #000;
}
.container-numbers__block-number .one:hover {
  color: #000;
  background: #ccc;
}

.container-about {
  color: #f1f1f1;
  background: #616161;
  display: flex;
  justify-content: center;
  padding: 32px 16px;
}
.container-about__content {
  max-width: 600px;
}
.container-about__title {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.container-about .wrapper-photo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-about img {
  width: 100%;
  padding: 32px 0px;
}
.container-about .container-info__title {
  color: #f1f1f1;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  margin: 10px 0px;
}
.container-about .container-info p {
  color: #f1f1f1;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
  display: block;
  margin: 10px 0px;
  text-align: justify;
}
.container-about .container-info hr {
  opacity: 0.6;
  margin: 20px 0px;
}
.container-about .container-info__tetx-skills {
  color: #f1f1f1;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  display: block;
  margin: 10px 0px;
  padding: 16px 0px;
}
.container-about .container-info__text-title {
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  margin: 15px 0px;
  letter-spacing: 4px;
  display: flex;
  text-align: center;
}
.container-about .container-info .progress-bar {
  color: #000;
  background-color: #fff;
}
.container-about .container-info .progress-bar__progress-bar__first {
  width: 92%;
  color: #000;
  background-color: #9e9e9e;
  padding: 4px 8px;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
  text-align: center;
}
.container-about .container-info .progress-bar {
  color: #000;
  background-color: #fff;
}
.container-about .container-info .progress-bar__progress-bar__second {
  width: 85%;
  color: #000;
  background-color: #9e9e9e;
  padding: 4px 8px;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
  text-align: center;
}
.container-about .container-info .progress-bar {
  color: #000;
  background-color: #fff;
}
.container-about .container-info .progress-bar__progress-bar__third {
  width: 80%;
  color: #000;
  background-color: #9e9e9e;
  padding: 4px 8px;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
  text-align: center;
}
.container-about .container-info__button {
  display: inline-block;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  color: #000;
  background-color: #f1f1f1;
  padding: 12px 24px;
  margin: 30px 0px;
}
.container-about .container-info__button:hover {
  color: #fff;
  background: #000;
}
.container-about .container-info__text-charge {
  display: block;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  margin: 10px 0px;
  padding: 16px 0px;
}
.container-about .container-info .charge-card-container {
  padding: 0px 8px;
  text-align: justify;
  margin: 0px -16px;
  display: flex;
}
.container-about .container-info .charge-card-container .charge-card {
  width: 50%;
  padding: 0px 8px;
  margin: 0px 0px 16px;
}
.container-about .container-info .charge-card-container .charge-card__title {
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  padding: 32px 16px;
  color: #fff;
  background-color: #000;
  text-align: center;
}
.container-about .container-info .charge-card-container .charge-card__properties {
  color: #000;
  background: #fff;
  text-align: center;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  padding: 16px 0px;
  border-bottom: 1px solid #ddd;
}
.container-about .container-info .charge-card-container .charge-card__properties__price {
  padding: 16px 0px;
}
.container-about .container-info .charge-card-container .charge-card__properties__price__title {
  display: block;
  line-height: 1.5;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  margin: 10px 0px;
}
.container-about .container-info .charge-card-container .charge-card__properties__button-container {
  padding: 24px 16px;
  color: #000;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
}
.container-about .container-info .charge-card-container .charge-card__properties__button-container button {
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  color: #000;
  background: #fff;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
}
.container-about .container-info .charge-card-container .charge-card__properties__button-container button:hover {
  background: #ccc;
  color: #000;
}

.container-contact {
  color: #000;
  background-color: #f1f1f1;
  padding: 32px 24px;
  line-height: 1.5;
}
.container-contact__contact {
  margin: 0px 241px;
}
.container-contact__contact .title {
  margin: 10px 0px;
  display: block;
  justify-content: center;
  text-align: center;
}
.container-contact__contact .title b {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}
.container-contact__contact p {
  display: flex;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  margin: 15px 0px;
}
.container-contact__contact .container-form {
  display: block;
}
.container-contact__contact .container-form__speakers {
  margin: 16px 0px;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}
.container-contact__contact .container-form input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 13px;
  display: block;
}
.container-contact__contact .button {
  color: #fff;
  background-color: #000;
  margin-bottom: 16px;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  margin: 0px 0px 16px;
  padding: 8px 16px;
  text-align: center;
}
.container-contact__contact .button:hover {
  color: #000;
  background: #ccc;
}

.container-footer {
  display: flex;
  background: #9e9e9e;
  padding: 32px 24px;
}
.container-footer__section {
  flex: 1;
  padding: 0px 8px;
}
.container-footer__title {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.5;
  margin: 10px 0px;
}
.container-footer__desrciption {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
.container-footer .posts-container__post {
  padding: 16px;
}
.container-footer .posts-container__post:hover {
  background: black;
  color: white;
}
.container-footer .posts-container__post:first-child {
  border-bottom: 1px solid white;
}
.container-footer .posts-container__post img {
  width: 50px;
  height: 50px;
}

/*# sourceMappingURL=index.css.map */
